@{
    ViewBag.Title = "TOTE TO TOE : Trending";
}

<div id="wrap">
    <br />
    <div class="copy">
        <div class="pic1">
            <img src="@(Links.Images.trending.pic1_jpg)" width="603" height="349" /></div>
        <div class="lines1"></div>
        <div class="title1">
            <img src="@(Links.Images.trending.title1_png)" width="545" height="116" /></div>
        <div class="bodycopy">
            <p>
                Sociis natoque penatibus et magnis dis parturient montes. commodo ligula eget sociis natoque<br />
                <br />
                Magnis disSociis natoque pe natibus et magnis dis parturient montes. Magnis disSociis nat oque penatibus et magnis dis parturient montes. Magnis dis Sociis natoque penatibus et magnis dis.
          Sociis natoque pe natibus et magnis dis parturient montes.
            </p>
            <p>penatibus et magnis dis parturient montes. Magnis dis Sociis natoque penatibus et magnis dis.    </p>
        </div>
        <div class="bg2"></div>
        <div class="pic2">
            <img src="@(Links.Images.trending.pic2_jpg)" width="404" height="446" /></div>
        <div class="lines2"></div>
        <div class="bodycopy2">
            <span style="font-size: 24px; font-style: italic;">trending</span><br />
            Tote To Toe provides his clients with a customization service for its star product: Avid. The process is very simple; it consists of choosing from a wide range of finishings, good quality materials and multiple design options, and customizing each shape and detail, such as backstitches.
            <br />
            <br />
            A chance to show off a unique piece, manufactured with traditional handmaking techniques. The client chooses and Tote To Toe creates, and his order is finished in three weeks.<br />
            <br />
            Tote To Toe provides his clients with a customization service for its star product: Avid. The process is very simple; it consists of choosing from a wide range of finishings, good quality materials and multiple design options, and customizing each shape and detail, such as backstitches     
        </div>
    </div>
</div>

@section styles
{
    <link href="@(Links.Content.trending_css)" rel="stylesheet" type="text/css" />
}

