@using BR.ToteToToe.Web.Helpers

@model BR.ToteToToe.Web.ViewModels.CheckoutSuccessViewModel

@{
    ViewBag.Title = "TOTE TO TOE : Order Confirmation";
}

<div id="wrap"><br />
	<div class="copy">
	  <div class="formbox">
        <form id="form1" name="form1" method="post" action="">
          <table width="100%" border="1" cellspacing="0" cellpadding="10">
            <tr>
              <td align="left" valign="top" style="font-size: 18px; color: #666;">Thank you for your purchase! </td>
            </tr>
            <tr>
              <td height="95" align="left" valign="top" style="font-size: 12px;">
                <strong>We have sent you a confirmation e-mail with all the details of purchase.</strong><br />
                <hr class="divline" />
                Order Number: #@Model.SalesOrderID<br />
                <hr class="divline" />
                This will be sent to <strong>@Model.Name</strong><br />
                <hr class="divline" />
                <span style="font-weight: bold; font-size: 14px; color: #666;">@Model.Quantity item</span> by Tote to Toe<br />
                <br />
                <em>ETA: 1 - 3 Business Days</em><br />
              </td>
            </tr>
          </table>
          <br />
            
          <input name="continueshopping" type="submit" class="whitebutton" id="continueshopping" value="PRINT" onclick="window.print();" />
            @Html.ActionLink("CONTINUE SHOPPING", MVC.Shoes.Index(), new { @class = "darkbutton btn-link" })</form>
      </div>
      
      <div class="fbshare">
        <form id="form1" name="form1" method="post" action="">
          <table width="100%" border="1" cellspacing="0" cellpadding="10">
            <tr>
              <td height="267" align="left" valign="top" style="font-size: 18px; color: #666;">Share what you have purchase
                <hr class="divline" />                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tr>
                    <td align="center" valign="top"><img src="images/pumps/sampleshoes2.jpg" width="153" height="130" style="vertical-align:middle" />I've just bought a new shoe</td>
                  </tr>
                  <tr>
                    <td height="67" align="center" valign="top"><br />                      <img src="images/checkout/fbshare.jpg" width="200" height="49" /><br />
                    <br /></td>
                  </tr>
                </table></td>
            </tr>
          </table>
          <br />
        </form>
      </div>
	</div>
	<br />
</div>

@section styles
{
    <link href="@(Links.Content.checkout_success_css)" rel="stylesheet" type="text/css" />
}