@charset "utf-8";
/* CSS Document */
.crumbs {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	color: #000;
	line-height:11px;
	margin-top: 4px;
}
.crumbs a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #6e6f71;
}
.crumbs a:link {
	text-decoration: none;
}
.crumbs a:visited {
	text-decoration: none;
	color: #000;
}
.crumbs a:hover {
	text-decoration: none;
	color: #CCC;
}
.crumbs a:active {
	text-decoration: none;
	color: #000;
}

.select-style {
    border: 1px solid #dcdddf;
    width: 114px;
    border-radius: 3px;
    overflow: hidden;
	float:left;
    background: #dcdddf url("images/arrowdown.gif") no-repeat 95% 50%;
}

.select-style select {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
    padding: 2px 5px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

table, th, td
{
border: 1px solid #e6e6e6;
border-collapse:collapse;
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
}

td
{
	height: 236px;
	width: 236px;
	text-align:center;
	vertical-align:top;
}

.prodlist {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width: 236px;
	height: 236px;
	line-height:14px;
	border: solid #e6e6e6 1px;
	text-align:center;
	
}

.prodicon {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width: 472px;
	height: 472px;
	line-height:14px;
	border: solid #e6e6e6 1px;
	text-align:center;
	
}

.divline
{ 
color: #666; 
background-color: #FFF; 
border: 1px dashed #b2b2b2; 
border-style: none none dashed; 
}

.navstep1 {
	width: 160px;
	height: 28px;
	position: relative;
	float: left;
	display: block;
	overflow: visible;
	top: -5px;
	left: -3px;
	margin-right: 4px;
	border: dashed #999 1px;
}
.navstep1 {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:#bae0df;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	line-height:26px;
	width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
	}
.navstep1:hover {
	background-color:#ccc;
	width:160px;
}
.navstep1:active {
	position: relative;
	width:160px;
}
.navstep1 a:link {
	color:#000000;
	text-decoration: none;
	}
	
.navstep1 a:hover {
	text-decoration: none;
	color: #999;
}

.navstep1 a:visited {
	text-decoration: none;
	color: #000;
	
}

.forfilter {
	width: 151px;
	height: 28px;
	position: relative;
	float: left;
	display: block;
	overflow: visible;
	top: 0x;
	left: 195px;
}

.cp {
	width: 140px;
	height: 23px;
	position: relative;
	float: left;
	display: block;
	overflow: visible;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	top: 0x;
	left: 0px;
}

.navstep1selected {
	width: 160px;
	height: 28px;
	position: relative;
	float: left;
	display: block;
	overflow: visible;
	top: -5px;
	left: -3px;
	margin-right: 4px;
	border: dashed #999 1px;
    background-image: url(../images/main_nav_dottedline.gif);
}
.navstep1selected {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:#71c4c1;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	line-height:26px;
	width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
    background-image: url(../images/main_nav_dottedline.gif);
	}
	
.navstep1nolink {
	width: 160px;
	height: 28px;
	position: relative;
	float: left;
	display: block;
	overflow: visible;
	top: -5px;
	left: -3px;
	margin-right: 4px;
	border: dashed #999 1px;
}
.navstep1nolink {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:#bae0df;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	line-height:26px;
	width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
    background-image: url(../images/main_nav_dottedline.gif);
	}