@charset "utf-8";
/* CSS Document */
#wrap
{
	width: 950px;
	top: 0px;
	/* height: auto !important;*/
	/* overflow:auto; */
	background-color: white;
	margin: auto 0;
	height: 780px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	padding-bottom: 213px;
}

.copy
{
	width: 950px;
	top: -7px;
	background-color: white;
	height: 665px;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
}

.signinbox
{
	width: 468px;
	height: 365px;
	top: 20px;
	left: 0;
	background-color: #d9e2e7;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	border: 1px dashed #939499;
}

.formbox
{
	width: 403px;
	height: 368px;
	top: 20px;
	left: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
}

.txtfield {
	border:0px;
	height: 35px;
	width: 403px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 5px;
}

.submitbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	background: #47443b;
	width: 100px;
	height: 28px;
	border: 0px;
	cursor: pointer;
}

.forgotpwd {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	color: #6e6f71;
	line-height:11px;
	margin-top: 4px;
	text-decoration: none;
}
.forgotpwd a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6e6f71;
	text-decoration: none;
}
.forgotpwd a:link {
	text-decoration: none;
}
.forgotpwd a:visited {
	text-decoration: none;
	color: #000;
}
.forgotpwd a:hover {
	text-decoration: none;
	color: #CCC;
}
.forgotpwd a:active {
	text-decoration: none;
	color: #000;
}

.fb {
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #6e6d70;
	text-decoration: none;
}
.fb a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #6e6d70;
	text-decoration: none;
}
.fb a:link {
	text-decoration: none;
}
.fb a:visited {
	text-decoration: none;
	color: #6e6d70;
}
.fb a:hover {
	text-decoration: none;
	color: #a3a3a6;
}
.fb a:active {
	text-decoration: none;
	color: #6e6d70;
}

.register
{
	width: 950px;
	height: 691px;
	top: 20px;
	left: 0px;
	background-color: #e8e5d2;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	border: 1px dashed #939499;
}

.formbox2
{
	width: 872px;
	height: 627px;
	top: 37px;
	left: 46px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	text-align: left;
}

.pic1
{
	top: 398px;
	left: 0px;
	display: block;
	width: 468px;
	height: 828px;
	position: absolute;
	float: left;
}

.title
{
	top: 33px;
	left: 350px;
	display: block;
	width: 469px;
	height: 737px;
	position: absolute;
	float: left;
}

.bodycopy
{
	top: 22px;
	left: 0px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #966a66;
	width: 320px;
	height: 268px;
	position: absolute;
	text-align: left;
	float: left;
}

.dropdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
    border: 1px solid #dcdddf;
    width: 406px;
	height: 35px;
	padding: 8px 5px;
    overflow: hidden;
	float:left;
    background: #fff url("../images/arrowdown2.gif") no-repeat 100% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

}

.dropdown select {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 100%;
	height: 35px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	

}

.dropdown select:focus {
    outline: none;
}

.dropdownbday {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
    border: 1px solid #dcdddf;
    width: 135px;
	height: 35px;
	padding: 8px 5px;
    overflow: hidden;
	float:left;
    background: #fff url("../images/arrowdown2.gif") no-repeat 100% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

}

.dropdownbday select {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

}

.dropdownbday select:focus {
    outline: none;
}
