@charset "utf-8";
/* CSS Document */
#wrap
{
	width: 950px;
	top: 0px;
	/* height: auto !important;*/
	/* overflow:auto; */
	background-color: white;
	margin: auto 0;
	height: 500px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	padding-bottom: 213px;
}

.txtbox
{
	width: 813px;
	height: 31px;
	top: 63px;
	left: 138px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
}

.formbox
{
	width: 813px;
	height: 387px;
	top: 23px;
	left: 138px;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
}

.txtfield {
	border:0px;
	height: 35px;
	width: 52px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color:#e7e7e9;
	padding: 1px;
}

.codefield {
	border:0px;
	height: 30px;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 1px solid #999;
	padding: 1px;
}

.divline
{ 
color: #666; 
background-color: #FFF; 
border: 1px dashed #b2b2b2; 
border-style: none none dashed; 
}
.whitebutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6d6d6f;
	background: #fff;
	width: 203px;
	height: 28px;
	border: 1px solid #939395;
	cursor: pointer;
}
.whitebutton:hover {
	background: #3f3f3f;
	color: white;
}

.darkbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	background: #47443b;
	background-image:url(../images/main_nav_dottedline.gif);
	width: 203px;
	height: 28px;
	border: 0px;
	cursor: pointer;
}

.darkbutton:hover {
	background: #666;
	background-image:url(../images/main_nav_dottedline.gif);
	color: white;
}

a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover {
	color: #999;
}
a:active {
	color: #000;
}
