@{
    ViewBag.Title = "Privacy";
}

<div id="mainbody">
    <br />
    <table width="99%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:11px;">
    <tr>
	    @Html.Partial("_LeftMenu")
	    <td width="21" align="right" valign="top">&nbsp;</td>
	    <td width="18" align="left" valign="top" background="@(Links.Images.dotted_ver_gif)" style="background-repeat:repeat-y">&nbsp;</td>
<td width="785" align="left" valign="top"><span style="font-size: 12px; font-weight: bold;">Privacy Policy</span>
	        <p><span style="font-weight: bold">Your Privacy</span><br />
	          Tote-to-Toe.com (&quot;Tote-to-Toe&quot;) is totally committed to protecting the privacy of our site visitors and customers. The Tote-to-Toe fully appreciate and respect the importance of privacy on the Internet. We will not disclose information about our customers to third parties except where it is part of providing a service to you - e.g. arranging for a product to be sent to you, carrying out credit and other security checks and for the purposes of customer research and profiling or where we have your express permission to do so.<br />
	          <br />
	          <br />
	          <span style="font-weight: bold">Your Consent</span><br />
	          We will not sell your name, address, e-mail address, credit card information or personal information to any third party without your permission, but we cannot be responsible or held liable for the actions of third party sites from which you may have linked or been directed to the Tote-to-Toe website.<br />
	          <br />
	          <br />
	          <span style="font-weight: bold">Communication &amp; Marketing</span><br />
	          If you have made a purchase from our store we may occasionally update you on our latest products, news and special offers via e-mail, post &amp; telephone. You will also be given the opportunity to receive such communications from us and selected third parties when you become a member of Tote-to-Toe. All Tote-to-Toe members have the option to opt-out of receiving marketing communications from us and/or selected third parties.<br />
	          <br />
<br />
	          <span style="font-weight: bold">Cookies</span><br />
	          A cookie is a small information file that is sent to your computer, mobile or other device when you visit a website and it will recognise your device on future visits. These types of files do a number of different jobs such as remembering your preferences and chosen items, assisting you to improve your site experience as well as trying to ensure that the adverts or offers you see online are more relevant to you. These “cookies” can be divided into 4 types each of which is outlined below.<br />
	          <br />
	          <span style="font-weight: bold">Category 1: Strictly Necessary Cookies</span><br />
	          These cookies are essential in order to enable the site to provide services you have asked for such as remembering your shopping bag items.<br />
	          <br />
	          <span style="font-weight: bold">Category 2: Performance Cookies</span><br />
	          This type collect anonymous information on how people use the site and the data is merged with other users to enable us to improve how the site operates. For example we utilise Google Analytics cookies to help us understand how customers arrive at our site, browse or use our site and highlight areas where we can improve areas such as navigation, shopping experience and marketing campaigns. The data stored by these cookies never shows personal details from which your individual identity can be established.<br />
	          <br />
	          <span style="font-weight: bold">Category 3: Functionality Cookies</span><br />
	          These remember choices you make such as language, search parameters such as size, colour or product line. These can then be used to provide you with an experience more appropriate with your selections and make the visits more tailored and pleasant. The information is also merged with other users on an anonymous basis to enable us to improve how the site operates. For example our Saved Items feature utilises a cookie to remember the products which you have expressed a wish to save whilst browsing our website.<br />
	          <br />
	          <span style="font-weight: bold">Category 4: Targeting Cookies or Advertising Cookies</span><br />
	          These cookies collect information about your browsing habits in order to make advertising relevant to you and your interests. They remember the websites you have visited and that information is shared with other parties such as advertisers. For example we use 3rd party companies such as Criteo to provide you with more personalised adverts when visiting other websites.<br />
	          <br />
	          You can change the settings on your browser to prevent cookies being stored on your computer or mobile device without your explicit consent. Your browser “help” section will normally provide details on how to manage the cookie settings.<br />
	          <br />
	          <br />
	          <span style="font-weight: bold">Site Statistics</span><br />
	          We may disclose aggregate, anonymised statistics about the number of visitors to this Website or number of purchases made as required by our investors. We use an independent measurement and research company to gather data regarding the visitors to this Website on our behalf using cookies and code which is embedded in the site. Both the cookies and the embedded code provide statistical information about visits to pages on the site, the duration of individual page view, paths taken by visitors through the site, data on visitors' screen settings and other general information. <br />
	          <br />
	          <br />
	          <span style="font-weight: bold">Protecting your security</span><br />
	          We may use personal information provided by you in order to conduct appropriate anti-fraud checks. Personal information that you provide may be disclosed to a credit reference or fraud prevention agency, which may keep a record of that information. This is done only to confirm your identity - a credit check is not performed and your credit rating is unaffected.<br />
	          <br />
<br />
	          <span style="font-weight: bold">Disclosures of your information</span><br />
            We may disclose your personal information to any of our group of companies. We may also disclose your personal information to third parties:</p>
	        <ul>
	          <li>	in the event that Tote-to-Toe sells or buys any business or assets;<br />
	            </li>
	          <li> if Tote-to-Toe or substantially all of its assets are acquired by a third party, in which case personal data which we hold about our customers may be one of the transferred assets; or<br />
	            </li>
	          <li> if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of; or to protect the rights, property, or safety of Tote-to-Toe, our customers, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.</li>
            </ul>
	        <p><span style="font-weight: bold">Changes to the Privacy Policy</span><br />
	          Tote-to-Toe reserves the right to modify and change the Privacy Statement at any time. Any changes to this policy will be published on our site.<br />
	          <br />
	          <br />
	          <span style="font-weight: bold">Contact Us</span><br />
            If you are not satisfied with the way in which we handle your enquiry or complaint, please don't hesitate to contact us at <a href="mailto:customercare@tote-to-toe.com">customercare@tote-to-toe.com</a></p>
	        <p align="right"><a href="#top">TOP</a><br />
            </p></td>
        </tr>
      </table>
	  <p>&nbsp;</p>
</div>