@{
    ViewBag.Title = "Returns";
}

<div id="mainbody">
    <br />
    <table width="99%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:11px;">
    <tr>
	    @Html.Partial("_LeftMenu")
	    <td width="21" align="right" valign="top">&nbsp;</td>
	    <td width="18" align="left" valign="top" background="@(Links.Images.dotted_ver_gif)" style="background-repeat:repeat-y">&nbsp;</td>
	    <td width="785" align="left" valign="top"><span style="font-size: 12px; font-weight: bold;">Returns &amp; Refunds</span>
	    <p>In General<br />
            <br />
            Tote-toToe is operated by Webnuts Sdn Bhd, a company registered in Malaysia, trading as www.tote-to-toe.com and its subsidiaries, associates and officers unless otherwise stated. Access and usage of this Website and the products and services made available through this Website (collectively, the &quot;Services&quot;), are subjected to the following terms, conditions and notices (the &quot;Terms of Service&quot;). By using the Services, you are agreeing to all of the Terms of Service, as may be updated by us from time to time.<br />
            <br />
            We will not be liable if for any reason this Website is unavailable for any period of time. From time to time, we may restrict access to some parts or this entire Website.<br />
            <br />
        This Website also contains links to other websites, which are not operated by Tote-to-Toe (the &quot;Linked Sites&quot;). Tote-to-Toe has no control over the Linked Sites and accepts no responsibility for them or for any loss or damage that may arise from your use of them. </p>
	    <p align="right"><a href="#top">TOP</a><br />
        </p></td>
    </tr>
    </table>
    <p>&nbsp;</p>
</div>