@using BR.ToteToToe.Web.Helpers

@{
    ViewBag.Title = "Error";
}

<div id="mainbody">
    <p>&nbsp;</p>
    <div style="color: red; min-height:400px;">
        @Util.SessionErrMsg
    </div>
</div>
